In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
train_data = pd.read_csv('train_data.csv')
df=pd.DataFrame(train_data)
df.head(10)

,ID,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,37765,15794860,Ch'eng,627,France,Male,28.0,7,131694.04,1,1.0,1.0,161205.61,0
1,130453,15728005,Hargreaves,597,France,Male,34.0,2,0.00,2,0.0,1.0,181419.29,0
2,77297,15686810,Ts'ui,724,France,Male,39.0,7,0.00,2,1.0,1.0,100862.54,0
3,40858,15760244,Trevisano,663,Germany,Female,56.0,5,118577.24,3,1.0,0.0,61164.45,1
4,19804,15810563,French,627,France,Female,33.0,5,0.00,2,1.0,1.0,103737.82,0
5,137682,15801466,Gray,574,France,Female,34.0,2,122524.61,2,1.0,0.0,88463.63,0
6,42541,15621654,Macleod,671,France,Male,35.0,2,0.00,2,1.0,1.0,183566.85,0
7,148483,15585985,Ritchie,678,Spain,Male,32.0,2,124586.93,1,1.0,1.0,181218.37,0
8,14108,15654183,Chibueze,850,France,Female,27.0,1,0.00,1,1.0,1.0,189268.81,0
9,15670,15648005,Tsao,672,Spain,Male,33.0,2,0.00,1,1.0,1.0,182738.00,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143579 entries, 0 to 143578
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ID               143579 non-null  int64
 1   CustomerId       143579 non-null  int64
 2   Surname          143579 non-null  object
 3   CreditScore      143579 non-null  int64
 4   Geography        143579 non-null  object
 5   Gender           143579 non-null  object
 6   Age              143579 non-null  float64
 7   Tenure           143579 non-null  int64
 8   Balance          143579 non-null  float64
 9   NumOfProducts    143579 non-null  int64
 10  HasCrCard        143579 non-null  float64
 11  IsActiveMember   143579 non-null  float64
 12  EstimatedSalary  143579 non-null  float64
 13  Exited           143579 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 15.3+ MB

#Les variables discrètes:
- Surname  
- CreditScore      
- Geography  
- Gender         
- Tenure    
- NumOfProducts  
- HasCrCard          
- IsActiveMember   
- Exited

#Analyse univariée variable discrète

In [ ]:
df['Surname'].value_counts().head(10)

Surname
Hsia       2107
T'ien      1971
Hs?        1387
Ts'ui      1364
Maclean    1364
Kao        1359
P'eng      1297
H?         1251
Hsueh      1145
Shih       1079
Name: count, dtype: int64

In [34]:
# Nombre de personnes avec un CreditScore supérieur ou égal à 500
above_500 = df[df['CreditScore'] >= 500].shape[0]
above_500_percentage = (above_500 / df.shape[0]) * 100

# Nombre de personnes avec un CreditScore inférieur à 500
below_500 = df[df['CreditScore'] < 500].shape[0]
below_500_percentage = (below_500 / df.shape[0]) * 100

# Affichage des résultats
print(f"Nombre de personnes avec un CreditScore supérieur ou égal à 500: {above_500}, ce qui représente {above_500_percentage:.2f}%")
print(f"Nombre de personnes avec un CreditScore inférieur à 500: {below_500}, ce qui représente {below_500_percentage:.2f}%")

Nombre de personnes avec un CreditScore supérieur ou égal à 500: 139435, ce qui représente 97.11%
Nombre de personnes avec un CreditScore inférieur à 500: 4144, ce qui représente 2.89%

In [33]:
df['Geography'].value_counts()
Geography_counts = df['Geography'].value_counts(normalize=True) * 100
print(Geography_counts)

Geography
France     57.032017
Spain      22.000432
Germany    20.967551
Name: proportion, dtype: float64

In [32]:
df['Gender'].value_counts()
Gender_counts = df['Gender'].value_counts(normalize=True) * 100
print(Gender_counts)

Gender
Male      56.391255
Female    43.608745
Name: proportion, dtype: float64

In [29]:
df['Tenure'].value_counts()
tenure_counts = df['Tenure'].value_counts(normalize=True) * 100
print(tenure_counts)

Tenure
2     10.980714
7     10.777342
8     10.636653
4     10.626206
5     10.436067
1     10.170707
9     10.138669
3     10.087826
6      9.552929
10     3.565981
0      3.026905
Name: proportion, dtype: float64

In [30]:
df['NumOfProducts'].value_counts()
NumOfProducts_counts = df['NumOfProducts'].value_counts(normalize=True) * 100
print(NumOfProducts_counts)

NumOfProducts
2    51.052731
1    46.917725
3     1.748167
4     0.281378
Name: proportion, dtype: float64

In [35]:
# Calcul des pourcentages pour les variables
has_cr_card = df['HasCrCard'].value_counts(normalize=True) * 100
is_active_member = df['IsActiveMember'].value_counts(normalize=True) * 100
exited = df['Exited'].value_counts(normalize=True) * 100

# Affichage des résultats
print(f"Carte de crédit : {has_cr_card[1.0]:.2f}% ont une carte, {has_cr_card[0.0]:.2f}% n'en ont pas.")
print(f"Membres actifs : {is_active_member[1.0]:.2f}% sont actifs, {is_active_member[0.0]:.2f}% ne le sont pas.")
print(f"Clients partis : {exited[1.0]:.2f}% sont partis, {exited[0.0]:.2f}% sont restés.")

Carte de crédit : 75.41% ont une carte, 24.59% n'en ont pas.
Membres actifs : 49.68% sont actifs, 50.32% ne le sont pas.
Clients partis : 21.21% sont partis, 78.79% sont restés.

#Les variables continues:
- Age
- Balance          
- EstimatedSalary